@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Lato');
*{
  
}
body{
  background-color: #d8d8d8;
  
}
#main{
  width: 98vw;
  box-shadow: 5px 10px 20px gray, 2px 6px 6px gray;
  margin: auto;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}
#title{
  margin: 0;
  font-family: "Playfair Display", serif;
  background-color: #fff;
}
#content-div{
  display: flex;
  margin-top: 0;
  background-color: #fff;
  font-family: Lato, Tahoma, sans-serif;
}

#img-div{
  min-width: 33%;
  background-color: #fff;
}
#image{
  display: block;
  max-width: 98%;
  height: auto;
  margin: 1%;
  background-color: #fff;
}
#img-caption{
  width: 98%;
  margin: 1%;
  font-size: 0.8em;
  background-color: #fff;
}
#tribute-info{
  text-align: justify;
  margin: 1%;
  background-color: #fff;
}
#tribute-info p{
  margin-top: 0;
}
#tribute-link{
  float: right;
  color: #fff;
  box-shadow: 1px 3px 6px gray, 0 3px 3px gray;
  background-color: #6a8da0;
  padding: 1% 3% 1% 3%;
  text-decoration: none;
  transition: all 0.3s ease;
}
#tribute-link:hover{
  background-color: #4a6e82;
}
#tribute-link:active{
  box-shadow: 0 0 0, 0 0 0;
}
@media (max-width: 400px){
  #content-div{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}